@font-face {
  font-family: 'Planet Gamers';
  src: url('../fonts/PlanetGamers-Regular.eot');
  src: url('../fonts/PlanetGamers-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PlanetGamers-Regular.woff2') format('woff2'),
      url('../fonts/PlanetGamers-Regular.woff') format('woff'),
      url('../fonts/PlanetGamers-Regular.ttf') format('truetype'),
      url('../fonts/PlanetGamers-Regular.svg#PlanetGamers-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Universal Serif';
  src: url('../fonts/UniversalSerif.eot');
  src: url('../fonts/UniversalSerif.eot?#iefix') format('embedded-opentype'),
      url('../fonts/UniversalSerif.woff2') format('woff2'),
      url('../fonts/UniversalSerif.woff') format('woff'),
      url('../fonts/UniversalSerif.ttf') format('truetype'),
      url('../fonts/UniversalSerif.svg#UniversalSerif') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

