/*--------------------------------------- Responsive (MIN) ------------------------------------------*/
@media (min-width: 769px) {
	
}

@media (min-width: 991px) {
	.features .main-title .descript {width: 40%;}
}

@media (min-width: 1200px) {
    .container {max-width: 1140px;}
}

@media (max-width: 990px) {
	

}

@media (max-width: 768px) {

	html {overflow-x: hidden;}
	body:before {/* content:''; *//* background: url(../images/hd-bg.svg) no-repeat center bottom; *//* width:100%; *//* height:100vh; *//* display: block; *//* background-size: contain; */}
	header {background: rgb(33 27 22 / 92%);height: 76px;display: block !important;}
	header.show {background: rgb(33 27 22 / 100%);height: auto;}
	header.show .navbar-collapse {display:block}

	header .cta-btn a {margin-left:20px; margin-bottom:20px}

	header nav li {padding-top:16px !important; padding-bottom:16px !important}
	header nav li a {display: inline-block !important;}

	.navbar-toggler {border: none;position: relative;z-index: 9;padding: 0.25rem 0.4rem;}

	.video-popup iframe {height: 320px}
	.video-popup button.close {right: 16px;top: -80px;font-size: 24px;}

	header .navbar-brand {max-width: 172px;top: -34px;left: -20px;}

	.playnow {padding-top: 64px;background-image: url('../images/hd-bg.svg'),url('../images/playnow-bg.jpg');background-position: top center, center center;background-size: 100%, cover;margin-top: 76px;}
	.playnow .img-1 {max-width: 260px;}
	.playnow .img-2 {max-width: 180px; margin-bottom:56px}
	.playnow .img-3 {margin-bottom:32px}
	.playnow .download-store p, .pagescroll, .coin-fly .coin_2, .coin-fly .coin_4, .coin-fly .coin_5, .features-detail .text, .features-detail .fla-map img {display:none}

/* 	.playnow .download-store a {margin:0 !important} */

	.coin-fly .coin_1 {left: initial;right: -28px;top: -100px;width: 136px;transform: rotateZ(24deg);pointer-events: none;}
	.coin-fly .coin_3 {transform: rotateZ(-40deg);pointer-events: none;right: initial;}

    .history {padding-top:80px;padding-bottom: 40px;}
    .history-ct {padding-left:15px;padding-right:15px;padding-top: 0;}
    .history-ct .col-8.video, .history-ct .col-4.character {width:100%}
    .history .video a span {width:64px; height:64px}

    .history-ct .row:last-child {flex-direction:column-reverse}

    .character .character-right {right: -104px; top: -100px; pointer-events: none;}
    .character .character-left img, .character .character-right img  {width: 320px;right:0;}
    .character .character-left {top:-96px;left:-32px;display: none;}

    .features-figure {max-width:70%;right: initial;left: -28px;height: 320px;}

    .features-detail {margin-top: 65px;min-height:300px;margin-bottom: 40px;}
    .features-detail .fla-map {width: 68%;height: 260px;background: url('../images/c-i-map-m.svg') no-repeat center center;display: block;position: absolute;right: -12px;top: -4px;background-size: contain;}

    .hm-spinner {width: 280px;height: 280px;top: -20px;left: -3px;position: absolute;}

    .features {min-height:720px}
    .features-detail .text.text-ico {font-size:12px; line-height:17px}
    .features-detail .text.text-ico span {padding-right: 2px; flex: 0 0 32px;}
    .features-detail .text.text-ico.text-ico-1 {top: -34px;right: 2px;}
    .features-detail .text.text-ico.text-ico-2 {bottom: initial;right: 24px;left: initial;top: 32px;width: 100px;}
    .features-detail .text.text-ico.text-ico-3 {top: initial;right: 40px;width: 140px;bottom: 77px;}
    .features-detail .text.text-ico.text-ico-4 {bottom: 166px;left: initial;width: 120px;right: 5px;}

    .roadmap-ct {text-align:left !important;justify-content: end;}
    .roadmap-ct .col {flex: 0 0 88%;height: 20%;padding-bottom: 28px;padding-right: 20px;}
    .roadmap-ct .col p {opacity: 1; font-weight: 400;}
    .roadmap-lines {width:10%}
    .roadmap-lines > .row {height: 83.33333333%;flex-direction: column;justify-content: flex-start !important;}
    .roadmap-lines > .row > .col-3 {height: 42.8%;width: 100%;}
    .roadmap-lines > .row > .col-3:not(:last-child) {/* padding-bottom:40px */padding-right: 12px;} 

    .roadmap-box {display:flex}
    .roadmap-line {height:100%;width:1px;margin-left: auto;background: #f6ca74;}
    .roadmap-line::before {left: -7px !important;}
    .roadmap-line::after {top: initial !important;bottom: 0;right: -7px !important;}


    .member-slider {margin-left:24px; margin-right:24px}

    .managers .col-md-2 {margin-bottom:32px}

    .ourteam {padding-bottom:240px;background-size: 400px, 100%, 100%, cover;}

    .partner {padding: 40px 12px 0;}
    .partner .grid-container {grid-template-columns: auto auto auto;padding: 0 20px;grid-gap: 12px 32px;}
    .pn-ms {padding-top:40px;}
    .partner .pn-ms .row {justify-content:space-between}
    .partner .pn-ms .item {width:40%}
    .partner .pn-ms .item img {max-width:100%}

    .character-img {margin-top:-80px; position:relative; right:-60px}
    .character-img img {width: 200px;}

    .skills {margin-bottom:16px}

    .c-hdr {/* margin: 0 12px; */padding: 5px 20px;/* height: 56px; */}
    .c-hdr .d-flex {font-size:16px}
    .c-hdr .d-flex .character-rate img {margin-left:4px; width:20px}

    .c-hdr::before {/* background-position:bottom center */}
    .c-hdr .d-flex .character-name img {width:28px}
    .c-body::after {bottom:-32px}
    .c-hdr::after {height:3px}

    .swiper-button-next, .swiper-button-prev {top:64%}
}

	